<%- include('../partials/header') %> 

    <h1>Investments</h1>
    
      <ul>
        <% investments.forEach(function(i) { %>
          <li>
            <a href="/investments/<%= i.id %>">
              <%= i.investment %>
            </a>
           
              - 
            <%= i.done ? 'done' : 'not done' %>
          </li>
        <% }); %>
      </ul> 
<%- include('../partials/footer') %>
        
